/* starter styling */
body {
  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 16px;
  line-height: 1;
  background: rgba(194, 142, 77, .62);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  outline: none;
}

textarea:focus {
  background: #fff;
  outline: none !important;
  border:3px solid #ac5341;
  box-shadow: 0 0 15px #000;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  text-shadow: 0.75px 0.75px #fff;
}

.description{
  white-space: pre-wrap;
  border: 1px solid #000;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: rgba(172, 67, 19, .72);
  color: #fff;
  text-align: center;
  padding: 30px 0;
  border: 1px solid black;
  font-size: 20px;
}

.past {
  background-color: rgba(211, 211, 211, .7);
  color: #000;
}

.present {
  background-color: rgba(239, 164, 146, .7);
  color: #000;
}

.future {
  background-color: rgba(159, 212, 163, .7);
  color: #000;
}

/* button styling */
.deleteBtn {
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  background: #ac4313;
}

.saveBtn {
  background-color: #ce9f56;
}

.saveBtn, .deleteBtn {
  border-left: 1px solid black;
}

.fas {
  font-size: 25px;
  color: #fff;
}

.fa-calendar-plus:hover {
  color: #ac4313;
}

.fa-calendar-minus:hover {
  color: #ce9f56;
}

.saveBtn i:hover, .deleteBtn i:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}

/* footer styling*/
footer {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

footer h4 {
  font-size: 16px;
}